<div class="my-component">
    This component is defined in the <strong>MauiBlazorExperiment.RCL</strong> library and is used in the MAUI app.

<div>
    <h2>
        I've tested it on
    </h2>
    <ul>
        <li>Android Emulator on Windows</li>
        <li>Android Device connected to Windows</li>
        <li>Windows 11 using WinuUI3</li>
        <li>WSA on windows 11</li>
        <li>iPhone device connected to Windows Computer with HotRestart 
            <p>!!!The App installs but CSS doesn't work so all text is black on white background. Icons are white on white</p>
            <p>!!!Deploying is a little flakey</p>
        </li>
    </ul>
</div>
</div>
